
/*full site link*/

.desktop-site{
	background-color: #31302f;
	padding:8px 10px;
	a {
		font-size: 0.750em;
		line-height: 1.2em;
		color:white;
		display: block;
		text-decoration: none;
		text-align: center;
		&:hover{
			color:white;
			text-decoration: none;
		}
	}
}

.desktop-icon {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

